*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #222;

  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: monospace;
  overflow: hidden;
}

.bracket {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.group {
  display: flex;
  gap: 1rem;
}
.group > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0.5em 1.5em;
  font-weight: bold;
  color: white;
  border: 0.05em solid white;
  border-radius: 0.1em;
  position: relative;
  transform-origin: center;
}

.group > div:not(.shuffled) {
  transition: transform 500ms;
  /* animation: Rotate 500ms ease infinite; */
}
.group > div.shuffled {
  animation: ResetTransform 0.5s ease-out forwards;
}

.group > div:not(.winner):not(.skip-anim) {
  transform: scale(0);
  animation: ScaleIn 0.5s ease-out forwards;
  animation-delay: var(--delay, 0s);
}
.group > .winner {
  position: fixed;
  transition: all 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: ShowcaseWinner 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}
.bracket button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 100px);
  font-size: 1.5rem;
  padding: 0.25em 1.5em;
  border-radius: 0.2em;
  margin-top: 1em;
  cursor: pointer;
  opacity: 0;
}
button#action {
  animation: SlideIn .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards 600ms;
}

div.team1 {
  background-color: #006666;
}
div.team2 {
  background-color: #00cc66;
}
div.team3 {
  background-color: #cccc99;
}
div.team4 {
  background-color: #990000;
}

@keyframes ResetTransform {
  0% {
  }
  100% {
      transform: translate(0, 0)
  }
}

@keyframes SlideIn {
  0% {
      transform: translate(-50%, 100px);
  }
  100% {
      opacity: 1;
      transform: translate(-50%, 0);
  }
}


@keyframes ScaleIn {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes ShowcaseWinner {
  0% {
      transform: translate(-50%, -50%) scale(1);
  }
  100% {
      transform: translate(-50%, -50%) scale(3);
  }
}